html,
body {
    width: 720px;
    height: 100px;
}

.map {
    display: block;
    width: 720px;
    height: 100px;
    background-color: #00ff00;
    transition: 0.5s;
}

#hint {
    display: block;
    text-align: left;
    line-height: normal;
    width: 720px;
    height: 100px;
    color: #00ff00;
}

.map:hover {
    background-color: #ff0000;
}

#hint:hover {
    color: white;
}

@media all and (min-width: 720px) {
    .map #hint {
        background-color: blue;
        color: blue;
    }
}